/*Обнуление стилей для всех элементов*/
* {
    /*Обнуляем отступы внешнии*/
    margin: 0;
    /*Обнуляем отступы внутрение*/
    padding: 0;
    /*Расположение элементов в блоке без расширения всего блока
    сохраняет пропорцию блока при отступах*/
    box-sizing: border-box;
}

body {
    /*Шрифт по умолчанию для всего тела*/
    font-family: 'Roboto', sans-serif;
    min-height: calc(100vh - 266px);
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none
}

a:hover {
    text-decoration: underline;
}

.top {
    background: linear-gradient(0deg, #EBF3FB 8.84%, rgba(152, 195, 232, 0) 31.12%);
    height: 768px;
}
.wrapper{
flex-grow: 1;
}

.container {
    max-width: 1200px;
    padding-left: 30px;
    padding-right: 30px;
    margin: 0 auto;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 34px;
}

.top_content {
    width: 504px;
    margin-top: 107px;
}

.top_heading {
    font-weight: 300;
    font-size: 64px;
    line-height: 74px;
    /*letter-spacing: 0.04em;*/
    color: #1F3F68;
    margin-bottom: 32px;
}

.text {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #1F3F68;
    opacity: 0.6;
}

.button {
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background: #5A98D0;
    box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
    border-radius: 10px;
    text-decoration: none;
    padding: 15px 50px;
    display: inline-block
}

.button:hover {
    background: #1F3F68;
}

.text_margin-bottom {
    margin-bottom: 71px;
}

.top_back {
    background-image: url("img/illustration.png");
    background-repeat: no-repeat;
    background-position: right bottom;
    height: 90%;
    background-size: 47%;
}

.heading {
    font-weight: 300;
    font-size: 36px;
    line-height: 46px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #000000;
    margin-top: 64px;
    margin-bottom: 32px;
}

.heading-mini {
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #1F3F68;
    margin-bottom: 14px;
}

.product-box {
    margin-top: 64px;
    display: flex;
    justify-content: space-between;
}

.product {
    background: #FFFFFF;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    width: 359px;
    height: 480.13px;
    padding: 44px 32px 44px 32px;
    display: flex;
    flex-direction: column;
}

.product_img {
    margin-bottom: 50px;
    align-self: center;
}

.product_link {
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #5A98D0;
    margin-top: 30px;
    text-decoration: none;
    display: flex;
}

.product_arrow {
    margin-left: 20px;
}

.product_img_big {
    margin-top: -30px;
}

.proj {
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
    max-width: 1140px;
    /*height: 1189px;*/
}

.proj_text {
    align-self: center;
    max-width: 750px;
    opacity: 1;
    text-align: center;
    color: #222222;
}

.proj_smart_home {
    background-image: url("img/smart_home.png");
    background-repeat: no-repeat;
    height: 480px;
    width: 100%;
    padding-right: 64px;
    margin-top: 64px;
}

.proj_smart_home_heading {
    text-align: right;
    font-weight: normal;
    font-size: 32px;
    color: #FFFFFF;
}

.proj_box {
    display: flex;
    justify-content: space-between;
}

.proj_box_app {
    text-align: left;
    font-size: 28px;
    width: 554px;
    height: 417px;
    padding: 32px;
    border-radius: 10px;
    margin-top: 32px;
}

.proj_box_app1_bg {
    background-image: url("img/app1.png");
    margin-right: 16px;
}

.proj_box_app2_bg {
    background-image: url("img/app2.png");
    margin-left: 16px;
}

.with_out_team {
    display: flex;
    /*flex-wrap: wrap;*/
    justify-content: space-between;
    width: 100%;
    height: 391px;
    /*margin-top: 91px;*/
    background-color: #316099;
}

.with_out_team_button {
    margin-top: 165px;
    margin-right: 114.37px;
    height: 56px;
}

.with_out_team_content_link {
    border-radius: 0;
    width: 236.63px;
}

.with_out_team_content {
    margin-top: 91px;
    padding-left: 113px;
    /*width: 494.77px;
    height: 204px;*/
}

.with_out_team_content_text {
    color: #FFFFFF;
    /*opacity: 0.6;*/
    margin-top: 32px;
    height: 80px;
    width: 494.77px
}

.with_out_team_heading {
    font-size: 36px;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    height: 92px;
    width: 340.96px;
}

.footer {
    background: #316099;
    width: 100%;
    height: 266px;
    display: flex;
    flex-direction: column;
    clear: both;
    border-top: 1px solid #FFFFFF;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.4);
}

.footer_cope {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    opacity: 0.4;
    margin-left: 113px;
    margin-top: 64px;
    padding-top: 64px;
}

.footer_contact {
    display: flex;
    justify-content: space-between;
    margin-left: 113px;
    margin-right: 114px;
    padding-top: 64px;
    height: 48px;
    list-style-type: none;
}

.footer_contact_item {
    display: flex;
}

.footer_text {
    color: #FFFFFF;
    opacity: 1;
    padding-left: 19.21px;
    width: 317px;
}

.footer_check{
    color: #FFFFFF;
    opacity: 1;
}