.footer {
    border-top: 1px solid black;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: orange;
    width: 100%;
    box-sizing: border-box;
    text-align: right;

    /*Всегда с новой строки что бы на этот блок не было наплыва*/
    clear: both;
}