.footer {
    border-top: 1px solid black;
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
    padding-top: 10px;
    height: 30px;
    width: 200px;
    background-color: orange;
    width: 100%;
}