.logo {
    margin-left: 20px;
    /*background-image: url("../img/logo.jpg");*/
    height: 81px;
    width: 150px;
}


.header {
    border-bottom: 1px solid black;
    height: 81px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; /*1024px;*/
}








